In [4]:
%pip install pandas numpy

import pandas as pd
import numpy as np
df = pd.read_csv('C:\\Users\\colli\\OneDrive - Strathmore University\\AI-Coursework--2025-\\Airplane_Crashes (excel sheet).csv')
df.shape

Requirement already satisfied: pandas in c:\users\colli\onedrive - strathmore university\ai-coursework--2025-\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\colli\onedrive - strathmore university\ai-coursework--2025-\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\colli\onedrive - strathmore university\ai-coursework--2025-\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\colli\onedrive - strathmore university\ai-coursework--2025-\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\colli\onedrive - strathmore university\ai-coursework--2025-\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\colli\onedrive - strathmore university\ai-coursework--2025-\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

(5268, 13)

In [5]:
df.tail(75)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
5193,03/15/2008,08:15,"Nbagu, Nigeria",Trade Wings Aviation Ltd.,NaN,Lagos - Bebi Air Strip,Beechcraft 1900D,5N-JAH,UE-322,3.0,3.0,0.0,The plane crashed while en route. Wreckage was...
5194,04/03/2008,11:00,"Lawa, Suriname",Blue Wing Airlines,NaN,Paramaribo - Lawa,Antonov An-28,PZ-TSO,1AJ007-17,19.0,19.0,0.0,While attempting to land the crew aborted the ...
5195,04/09/2008,23:27,"Bundeena, Australia",Avtex Air Services,NaN,Sydney - Brisbane,Swearingen SA227AC Metroliner III,VH-OZA,AC-600,1.0,1.0,0.0,The pilot of the mail plane reported some mino...
5196,04/11/2008,22:15,"Chrisinau, Moldova",Kata Transportation,NaN,"Chrisinau, Moldova - Antalya, Turkey - Sudan",Antonov An-32,ST-AZL,3009,8.0,8.0,0.0,Just minutes after the take off the plane trie...
5197,04/15/2008,14:30,"Goma, Congo",Hewa Bora Airways,NaN,Goma - Kisangani - Kinshasa,McDonnell Douglas DC-9-51,9Q-CHN,47731,85.0,0.0,47.0,"While attempting to takeoff, the plane failed ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [6]:
missing_table = pd.DataFrame({'missing_count': df.isna().sum(), 'missing_pct': (df.isna().sum()/len(df)*100).round(2)})
missing_table

              missing_count  missing_pct
Date                      0         0.00
Time                   2219        42.12
Location                 20         0.38
Operator                 18         0.34
Flight #               4199        79.71
Route                  1707        32.40
Type                     27         0.51
Registration            335         6.36
cn/In                  1228        23.31
Aboard                   22         0.42
Fatalities               12         0.23
Ground                   22         0.42
Summary                 390         7.40

In [7]:
recommendations = ['First column â typically an identifier/date column: parse dates if needed and keep original.', "Column `Time` â missing 2219 (42.12%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", "Column `Location` â missing 20 (0.38%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", "Column `Operator` â missing 18 (0.34%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", 'Column `Flight #` â missing 4199 (79.71%). Recommended: Drop column or keep for reference; too many missing values to impute reliably.', "Column `Route` â missing 1706 (32.38%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", "Column `Type` â missing 27 (0.51%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", "Column `Registration` â missing 335 (6.36%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", "Column `cn/In` â missing 1228 (23.31%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.", 'Column `Aboard` â missing 22 (0.42%). Recommended: Impute using median (robust to outliers) or mean if distribution is symmetric.', 'Column `Fatalities` â missing 12 (0.23%). Recommended: Impute using median (robust to outliers) or mean if distribution is symmetric.', 'Column `Ground` â missing 22 (0.42%). Recommended: Impute using median (robust to outliers) or mean if distribution is symmetric.', "Column `Summary` â missing 390 (7.4%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings."]
for r in recommendations:
    print('- ' + r)

- First column â typically an identifier/date column: parse dates if needed and keep original.
- Column `Time` â missing 2219 (42.12%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `Location` â missing 20 (0.38%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `Operator` â missing 18 (0.34%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `Flight #` â missing 4199 (79.71%). Recommended: Drop column or keep for reference; too many missing values to impute reliably.
- Column `Route` â missing 1706 (32.38%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `Type` â missing 27 (0.51%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `Registration` â missing 335 (6.36%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `cn/In` â missing 1228 (23.31%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.
- Column `Aboard` â missing 22 (0.42%). Recommended: Impute using median (robust to outliers) or mean if distribution is symmetric.
- Column `Fatalities` â missing 12 (0.23%). Recommended: Impute using median (robust to outliers) or mean if distribution is symmetric.
- Column `Ground` â missing 22 (0.42%). Recommended: Impute using median (robust to outliers) or mean if distribution is symmetric.
- Column `Summary` â missing 390 (7.4%). Recommended: Impute with mode (most frequent) or placeholder 'Unknown'; investigate category meanings.

In [8]:
fatality_locations = df[['Date', 'Location', 'Aboard', 'Fatalities']].copy()
fatality_locations.columns = ['Date','Location','Aboard','Fatalities']

fatality_locations['Aboard'] = pd.to_numeric(fatality_locations['Aboard'], errors='coerce')
fatality_locations['Fatalities'] = pd.to_numeric(fatality_locations['Fatalities'], errors='coerce')

fatality_locations.head()

         Date                            Location  Aboard  Fatalities
0  09/17/1908                 Fort Myer, Virginia     2.0         1.0
1  07/12/1912             AtlantiCity, New Jersey     5.0         5.0
2  08/06/1913  Victoria, British Columbia, Canada     1.0         1.0
3  09/09/1913                  Over the North Sea    20.0        14.0
4  10/17/1913          Near Johannisthal, Germany    30.0        30.0

In [9]:
max_row = fatality_locations.loc[fatality_locations['Fatalities'].idxmax()]
max_row[['Date','Location','Aboard','Fatalities']]

Date                        03/27/1977
Location      Tenerife, Canary Islands
Aboard                           644.0
Fatalities                       583.0
Name: 2963, dtype: object

In [10]:
zero_fatal = fatality_locations[fatality_locations['Fatalities']==0]
num_zero_fatal = len(zero_fatal)
num_zero_fatal

58

In [11]:

def split_location(x):
    if pd.isna(x):
        return pd.Series([pd.NA, pd.NA])
    parts = [p.strip() for p in x.rsplit(',', 1)]
    if len(parts) == 2:
        return pd.Series(parts)
    else:
        return pd.Series([parts[0], pd.NA])

fatality_locations[['Region','State/Country']] = fatality_locations['Location'].apply(split_location)
fatality_locations[['Date','Location','Region','State/Country','Aboard','Fatalities']].head()

,Date,Location,Region,State/Country,Aboard,Fatalities
0,09/17/1908,"Fort Myer, Virginia",Fort Myer,Virginia,2.0,1.0
1,07/12/1912,"AtlantiCity, New Jersey",AtlantiCity,New Jersey,5.0,5.0
2,08/06/1913,"Victoria, British Columbia, Canada","Victoria, British Columbia",Canada,1.0,1.0
3,09/09/1913,Over the North Sea,Over the North Sea,<NA>,20.0,14.0
4,10/17/1913,"Near Johannisthal, Germany",Near Johannisthal,Germany,30.0,30.0

In [12]:
top100 = fatality_locations.sort_values('Fatalities', ascending=False).head(100)
top100[['Date','Region','State/Country','Aboard','Fatalities']]

,Date,Region,State/Country,Aboard,Fatalities
2963,03/27/1977,Tenerife,Canary Islands,644.0,583.0
3568,08/12/1985,"Mt. Osutaka, near Ueno Village",Japan,524.0,520.0
4455,11/12/1996,Near Charkhidadri,India,349.0,349.0
2726,03/03/1974,Near Ermenonville,France,346.0,346.0
3562,06/23/1985,AtlantiOcean,110 miles West of Ireland,329.0,329.0
...,...,...,...,...,...
4852,04/15/2002,Busan,South Korea,166.0,128.0
3198,01/21/1980,"Elburz Mtns., near Laskarak, Markazi",Iran,128.0,128.0
1701,12/16/1960,Staten Island / Brooklyn,New York,128.0,128.0
5108,07/09/2006,Irkutsk,Russia,203.0,128.0
1433,06/30/1956,Grand Canyon,Arizona,128.0,128.0

In [ ]:

%pip install matplotlib

import matplotlib.pyplot as plt

agg = fatality_locations.copy()
agg['State/Country'] = agg['State/Country'].fillna('Unknown')
by_country = agg.groupby('State/Country')['Fatalities'].sum().sort_values(ascending=False)
top25 = by_country.head(25)

plt.figure(figsize=(10,10))
top25.plot.pie(autopct='%1.1f%%', startangle=90, ylabel='')
plt.title('Top 25 fatalities by Country / U.S. State (sum of Fatalities)')
plt.tight_layout()
plt.show()

top25